<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/owl.theme.css" rel="stylesheet ">
    <link href="assets/css/tv.css" rel="stylesheet ">
    <link href="assets/css/responsive.css" rel="stylesheet ">
</head> -->

<body>



    <div class="tv-layout">

        <div class="container-fluid">

            <div class="row">
                <div class="span12">

                    <div class="nav-row">
                        <a href="/tv-home">
                            <div class="round-box back-arrow">
                                <img src="assets/images/icons/arrow-back.png">
                            </div>
                        </a>
                    </div>

                    <div class="watch-row">
                        <a href="/movie-play">
                            <div class="play-video">
                                <img src="assets/images/icons/play-icon.png"> <span class="watch">Watch Now</span>
                            </div>
                        </a>

                        <span class="episode-head">S1 E1 - 22 Mar</span>

                    </div>

                    <div id="owl-demo-carosel" class="owl-carousel">

                        <div class="item">
                            <div class="shadow-bg"></div>
                            <img src="assets/images/Tv-Shows/Banners/tv-show.jpg">
                        </div>



                    </div>



                </div>
            </div>
        </div>


        <div class="container-fluid space-tv">




            <h1 class="heading-movie">
                <div class="movile-block">Tha Falcon and The Winter Soldier <span class="language">( English )</span>
                </div>

                <div class="watch-fav">
                    <a href="#" class="fav">Add to Favorites</a>
                    <a href="#" class="watchlist">Add to Watchlist</a>
                </div>

            </h1>

            <div class="movie-genre col-12 p-0 mobile-pad-1">
                <span class="movie-rating">
                    <i class="fa fa-star active" aria-hidden="true"></i>
                    <i class="fa fa-star active" aria-hidden="true"></i>
                    <i class="fa fa-star active" aria-hidden="true"></i>
                    <i class="fa fa-star active" aria-hidden="true"></i>
                    <i class="fa fa-star in-active" aria-hidden="true"></i>
                </span>

                <span class="movie-joner">Superhero, Action, Science Fiction</span>
                <span class="movie-year">Season 1 - 10 Episodes, +12</span>
            </div>

            <div class="movie-text col-12">

                <h4>New Episode Every Monday at 6.30PM</h4>

                <p>Nullam fringilla sagittis tortor ut rhoncus. Nam vel ultricies erat, vel sodales leo. Maecenas
                    pellentesque, est suscipit laoreet tincidunt, ipsum tortor vestibulum leo, ac dignissim diam velit
                    id tellus. Morbi luctus velit quis semper egestas. Nam condimentum sem eget ex iaculis bibendum.</p>
            </div>




            <div class="container-fluid space-tv p-0 show-gap">
                <h1 class="heading-tv show">Season 1</h1>
                <div id="owl-demo-full-1" class="owl-carousel scroll-movies">

                    <div class="item">
                        <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-1.png">
                        <p class="episode">S1 E1 - 22 Mar</p>
                        <p class="movie-name tv-showgap-1">New World order</p>
                    </div>

                    <div class="item">
                        <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-2.png">
                        <p class="episode">S1 E2 - 29 Mar</p>
                        <p class="movie-name tv-showgap-1">THe Star - Spandled Man</p>
                    </div>

                    <div class="item">
                        <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-3.png">
                        <p class="episode">S1 E3 - 05 Apr</p>
                        <p class="movie-name tv-showgap-1">Power Broker</p>
                    </div>


                    <div class="item">
                        <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-4.png">
                        <p class="episode">S1 E4 - 12 Apr</p>
                        <p class="movie-name tv-showgap-1">The Whole world is watching</p>
                    </div>


                    <div class="item">
                        <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-5.png">
                        <p class="episode">S1 E5 - 19 Apr</p>
                        <p class="movie-name tv-showgap-1">Truth</p>
                    </div>


                    <div class="item">
                        <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-1.png">
                        <p class="episode">S1 E1 - 22 Mar</p>
                        <p class="movie-name tv-showgap-1">New World order</p>
                    </div>

                    <div class="item">
                        <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-2.png">
                        <p class="episode">S1 E2 - 29 Mar</p>
                        <p class="movie-name tv-showgap-1">THe Star - Spandled Man</p>
                    </div>

                    <div class="item">
                        <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-3.png">
                        <p class="episode">S1 E3 - 05 Apr</p>
                        <p class="movie-name tv-showgap-1">Power Broker</p>
                    </div>


                    <div class="item">
                        <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-4.png">
                        <p class="episode">S1 E4 - 12 Apr</p>
                        <p class="movie-name tv-showgap-1">The Whole world is watching</p>
                    </div>


                    <div class="item">
                        <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-5.png">
                        <p class="episode">S1 E5 - 19 Apr</p>
                        <p class="movie-name tv-showgap-1">Truth</p>
                    </div>



                </div>


            </div>





            <div class="crew col-12">

                <h1>Crew</h1>

                <div class="col-12 scrollbar p-0">

                    <div class="crew-item">
                        <img src="assets/images/crew/director.png">
                        <h5>Prabhu Solomon</h5>
                        <p>Director</p>
                    </div>

                    <div class="crew-item">
                        <img src="assets/images/crew/producer.png">
                        <h5>Eros International</h5>
                        <p>Producer</p>
                    </div>

                    <div class="crew-item">
                        <img src="assets/images/crew/music-director.png">
                        <h5>Shantanu Moitra</h5>
                        <p>Music Director</p>
                    </div>

                    <div class="crew-item">
                        <img src="assets/images/crew/empty-img.png">
                        <h5>Lorem Ispum</h5>
                        <p>Music Director</p>
                    </div>

                    <div class="crew-item">
                        <img src="assets/images/crew/empty-img.png">
                        <h5>Lorem Ispum</h5>
                        <p>Music Director</p>
                    </div>

                    <div class="crew-item">
                        <img src="assets/images/crew/empty-img.png">
                        <h5>Lorem Ispum</h5>
                        <p>Music Director</p>
                    </div>




                </div>
            </div>






        </div>




    </div>



    <!-- <script src="assets/js/jquery-1.9.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/tv.js"></script> -->




</body>

<!-- </html> -->