<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/owl.theme.css" rel="stylesheet ">
    <link href="assets/css/slide-right-panel.css" rel="stylesheet">
    <link href="assets/css/tv.css" rel="stylesheet ">
    <link href="assets/css/responsive.css" rel="stylesheet ">
</head> -->

<body>



    <div class="tv-layout">

        <div class="container-fluid">

            <div class="row">
                <div class="span12">

                    <div class="nav-row">
                        <div class="nav-left">
                            <div class="nav">
                                <ul>
                                    <!-- <li><a href="" class="active">Home</a></li> -->
                                    <li><a href="#">Movies</a></li>
                                    <li><a href="/tv-home">TV</a></li>
                                    <li><a href="#">Kids</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="nav-right">
                            <ul>
                                <li><a class="js-cd-panel-trigger" data-panel="main" (click)="openSidePanel()"
                                        style="cursor: pointer;">Login / Register</a></li>
                            </ul>
                        </div>
                    </div>

                    <div id="owl-demo-carosel" class="owl-carousel">
                        <div class="item">
                            <a href="/movie-view">
                                <div class="shadow-bg"></div>
                                <!-- <img src={{banner.bannerimage}}> -->
                                <img src="assets/images/Telugu/Banners/Aranya-banner.jpg">
                            </a>
                        </div>

                        <div class="item">
                            <div class="shadow-bg"></div>
                            <img src="assets/images/Telugu/Banners/Gali-Sampath-banner.jpg">
                        </div>

                        <div class="item">
                            <div class="shadow-bg"></div>
                            <img src="assets/images/Telugu/Banners/jathiratnalu-banner.jpg">
                        </div>

                        <div class="item">
                            <div class="shadow-bg"></div>
                            <img src="assets/images/Telugu/Banners/krack-banner.jpg">
                        </div>

                        <div class="item">
                            <div class="shadow-bg"></div>
                            <img src="assets/images/Telugu/Banners/Master-banner.jpg">
                        </div>

                    </div>



                </div>
            </div>
        </div>


        <div class="container-fluid space-tv">
            <h1 class="heading-tv">Latest</h1>
            <div id="owl-demo-full-1" class="owl-carousel scroll-movies">
                <!-- <div class="item" >

                    <img src="assets/images/Telugu/Thumbnails/Master-thumb.jpg">
                    <p class="movie-name">{{movie.title}}</p>

                    <img src={{movie.thumbnail}} alt="">
                    <p class="movie-name">Master (Telugu)</p>
                    <div *ngFor = "let movie of latestMovies">/div>

                </div> -->
                <div>
                    <div class="item" *ngFor="let movie of latestMovies" routerLink = "/movie-view">
                        <img src="assets/images/Telugu/Thumbnails/krack-thumb.jpg">
                        <p class="movie-name">{{movie.title}}</p>
                    </div>
                </div>

                <!-- <div class="item">
                    <img src="assets/images/Telugu/Thumbnails/jathiratnalu-thumb.jpg">
                    <p class="movie-name">Jathiratnalu (Telugu)</p>
                </div>


                <div class="item">
                    <img src="assets/images/Telugu/Thumbnails/Gali-Sampath-thumb.jpg">
                    <p class="movie-name">Gali Sampath (Telugu)</p>
                </div> -->


                <!-- <div class="item">
                    <img src="assets/images/Telugu/Thumbnails/Aranya-thumb.jpg">
                    <p class="movie-name">Aranya (Telugu)</p>
                </div>


                <div class="item">
                    <img src="assets/images/English/Thumbnails/aquaman-thumb.jpg">
                    <p class="movie-name">Aquaman (English)</p>
                </div>


                <div class="item">
                    <img src="assets/images/English/Thumbnails/kong-skull-island-thumb.jpg">
                    <p class="movie-name">KONG Skull Island (English)</p>
                </div>

                <div class="item">
                    <img src="assets/images/English/Thumbnails/parasite-thumb.jpg">
                    <p class="movie-name">Parasite (English)</p>
                </div>
                <div class="item">
                    <img src="assets/images/English/Thumbnails/the-revenant-thumb.jpg">
                    <p class="movie-name">The Revenant (English)</p>
                </div>
                <div class="item">
                    <img src="assets/images/English/Thumbnails/wonderwoman1984-thumb.jpg">
                    <p class="movie-name">Wonder Women 84 (English)</p>
                </div> -->


            </div>


        </div>

        <div class="container-fluid space-tv">
            <h1 class="heading-tv">Trending</h1>
            <div id="owl-demo-full-2" class="owl-carousel scroll-movies">
                <div>
                    <div class="item" *ngFor="let movie of trendingMovies" routerLink = "/movie-view">
                        <img src="assets/images/English/Thumbnails/aquaman-thumb.jpg">
                        <p class="movie-name">{{movie.title}}</p>
                    </div>
                </div>

                <!-- <div class="item">
                    <img src="assets/images/English/Thumbnails/kong-skull-island-thumb.jpg">
                    <p class="movie-name">KONG Skull Island (English)</p>
                </div>

                <div class="item">
                    <img src="assets/images/English/Thumbnails/parasite-thumb.jpg">
                    <p class="movie-name">Parasite (English)</p>
                </div>

                <div class="item">
                    <img src="assets/images/English/Thumbnails/the-revenant-thumb.jpg">
                    <p class="movie-name">The Revenant (English)</p>
                </div>

                <div class="item">
                    <img src="assets/images/English/Thumbnails/wonderwoman1984-thumb.jpg">
                    <p class="movie-name">Wonder Women 84 (English)</p>
                </div>



                <div class="item">
                    <img src="assets/images/English/Thumbnails/aquaman-thumb.jpg">
                    <p class="movie-name">Aquaman (English)</p>
                </div>

                <div class="item">
                    <img src="assets/images/English/Thumbnails/kong-skull-island-thumb.jpg">
                    <p class="movie-name">KONG Skull Island (English)</p>
                </div>

                <div class="item">
                    <img src="assets/images/English/Thumbnails/parasite-thumb.jpg">
                    <p class="movie-name">Parasite (English)</p>
                </div>

                <div class="item">
                    <img src="assets/images/English/Thumbnails/the-revenant-thumb.jpg">
                    <p class="movie-name">The Revenant (English)</p>
                </div>

                <div class="item">
                    <img src="assets/images/English/Thumbnails/wonderwoman1984-thumb.jpg">
                    <p class="movie-name">Wonder Women 84 (English)</p>
                </div> -->

            </div>
        </div>

        <div class="container-fluid space-tv">
            <h1 class="heading-tv">Kids</h1>
            <div id="owl-demo-full-3" class="owl-carousel scroll-movies">

                <div class="item">
                    <img src="assets/images/Kids-English/Thumbnails/angry-birds-thumb.jpg">
                    <p class="movie-name">Angry Birds (English)</p>
                </div>

                <div class="item">
                    <img src="assets/images/Kids-English/Thumbnails/frozen-thumb.jpg">
                    <p class="movie-name">Frozen (English)</p>
                </div>

                <div class="item">
                    <img src="assets/images/Kids-English/Thumbnails/ice-age-thumb.jpg">
                    <p class="movie-name">Ice Age (English)</p>
                </div>


                <div class="item">
                    <img src="assets/images/Kids-English/Thumbnails/Jungle-Book-thumb.jpg">
                    <p class="movie-name">The Jungle Book (English)</p>
                </div>


                <div class="item">
                    <img src="assets/images/Kids-English/Thumbnails/wonder-park-thumb.jpg">
                    <p class="movie-name">Wonder Park (English)</p>
                </div>


                <div class="item">
                    <img src="assets/images/Kids-English/Thumbnails/angry-birds-thumb.jpg">
                    <p class="movie-name">Angry Birds (English)</p>
                </div>

                <div class="item">
                    <img src="assets/images/Kids-English/Thumbnails/frozen-thumb.jpg">
                    <p class="movie-name">Frozen (English)</p>
                </div>

                <div class="item">
                    <img src="assets/images/Kids-English/Thumbnails/ice-age-thumb.jpg">
                    <p class="movie-name">Ice Age (English)</p>
                </div>


                <div class="item">
                    <img src="assets/images/Kids-English/Thumbnails/Jungle-Book-thumb.jpg">
                    <p class="movie-name">The Jungle Book (English)</p>
                </div>


                <div class="item">
                    <img src="assets/images/Kids-English/Thumbnails/wonder-park-thumb.jpg">
                    <p class="movie-name">Wonder Park (English)</p>
                </div>


            </div>


        </div>


        <div class="container-fluid space-tv">
            <h1 class="heading-tv">Hindi Movies</h1>
            <div id="owl-demo-full-4" class="owl-carousel scroll-movies">

                <div class="item">
                    <img src="assets/images/Hindi/Thumbnails/baagi-3-thumb.jpg">
                    <p class="movie-name">Baaghi3 (Hindi)</p>
                </div>

                <div class="item">
                    <img src="assets/images/Hindi/Thumbnails/Bajirao-Mastani-thumb.jpg">
                    <p class="movie-name">Bajirao Mastani (Hindi)</p>
                </div>

                <div class="item">
                    <img src="assets/images/Hindi/Thumbnails/bharat-thumb.jpg">
                    <p class="movie-name">Bharat (Hindi)</p>
                </div>


                <div class="item">
                    <img src="assets/images/Hindi/Thumbnails/chhichhore-thumb.jpg">
                    <p class="movie-name">Chhichhore (Hindi)</p>
                </div>


                <div class="item">
                    <img src="assets/images/Hindi/Thumbnails/mission-mangal-thumb.jpg">
                    <p class="movie-name">Mission Mangal (Hindi)</p>
                </div>

                <div class="item">
                    <img src="assets/images/Hindi/Thumbnails/baagi-3-thumb.jpg">
                    <p class="movie-name">Baaghi3 (Hindi)</p>
                </div>

                <div class="item">
                    <img src="assets/images/Hindi/Thumbnails/Bajirao-Mastani-thumb.jpg">
                    <p class="movie-name">Bajirao Mastani (Hindi)</p>
                </div>

                <div class="item">
                    <img src="assets/images/Hindi/Thumbnails/bharat-thumb.jpg">
                    <p class="movie-name">Bharat (Hindi)</p>
                </div>


                <div class="item">
                    <img src="assets/images/Hindi/Thumbnails/chhichhore-thumb.jpg">
                    <p class="movie-name">Chhichhore (Hindi)</p>
                </div>


                <div class="item">
                    <img src="assets/images/Hindi/Thumbnails/mission-mangal-thumb.jpg">
                    <p class="movie-name">Mission Mangal (Hindi)</p>
                </div>



            </div>


        </div>



        <div class="cd-panel cd-panel--from-right js-cd-panel-main">
            <div class="cd-panel__container">
                <a href="#0" class="cd-panel__close js-cd-close">X</a>
                <div class="cd-panel__content">
                    <div class="tv-slide-nav">
                        <ul>

                            <li>
                                <a href="/login">
                                    <img src="assets/images/icons/login-icon.png"> Login</a>
                            </li>

                            <li>
                                <a href="/register">
                                    <img src="assets/images/icons/register-icon.png"> Registration</a>
                            </li>

                            <li>
                                <a href="/subscription">
                                    <img src="assets/images/icons/subscrption-icon.png"> Subscription</a>
                            </li>

                            <li>
                                <a href="/search">
                                    <img src="assets/images/icons/search-icon.png"> Search</a>
                            </li>


                            <li>
                                <a href="/categories">
                                    <img src="assets/images/icons/categories-icon.png"> Genre</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>




    </div>



    <!-- <script src="assets/js/jquery-1.9.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/tv.js"></script>
    <script src="assets/js/right-slide-panel.js"></script> -->


</body>

<!-- </html> -->