<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/owl.theme.css" rel="stylesheet ">
    <link href="assets/css/tv.css" rel="stylesheet ">
    <link href="assets/css/responsive.css" rel="stylesheet ">
</head> -->

<body>



    <div class="tv-layout">

        <div class="container-fluid">

            <div class="row">
                <div class="span12">

                    <div class="nav-row">
                        <a href="index.html">
                            <div class="round-box back-arrow">
                                <img src="assets/images/icons/arrow-back.png">
                            </div>
                        </a>

                        <a href="index.html">
                            <div class="round-box close-icon">
                                <img src="assets/images/icons/close-icon.png">
                            </div>
                        </a>

                    </div>


                    <div class="tv-data-row">
                        <h1>Subscription</h1>

                        <div class="col-12">
                            <div class="row mob-margin price-block">

                                <div class="col-md-3 col-sm-6 col-xs-6 sub-plan">
                                    <div class="price-box">
                                        <h1>Monthly</h1>
                                        <h4><i class="fa fa-inr" aria-hidden="true"></i>149</h4>
                                        <p><a href="#"><span class="subscribe-btn">Subscribe Now</span></a></p>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-6 sub-plan">
                                    <div class="price-box">
                                        <h1>Quarterly</h1>
                                        <h4><i class="fa fa-inr" aria-hidden="true"></i>299</h4>
                                        <p><a href="#"><span class="subscribe-btn">Subscribe Now</span></a></p>
                                    </div>
                                </div>


                                <div class="col-md-3 col-sm-6 col-xs-6 sub-plan">
                                    <div class="price-box">
                                        <h1>Half Yearly</h1>
                                        <h4><i class="fa fa-inr" aria-hidden="true"></i>549</h4>
                                        <p><a href="#"><span class="subscribe-btn">Subscribe Now</span></a></p>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-6 sub-plan">
                                    <div class="price-box">
                                        <h1>Yearly</h1>
                                        <h4><i class="fa fa-inr" aria-hidden="true"></i>999</h4>
                                        <p><a href="#"><span class="subscribe-btn">Subscribe Now</span></a></p>
                                    </div>
                                </div>




                            </div>
                        </div>



                    </div>




                </div>
            </div>
        </div>





    </div>



    <!-- <script src="assets/js/jquery-1.9.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/tv.js"></script> -->




</body>

<!-- </html> -->