<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/owl.theme.css" rel="stylesheet ">
    <link href="assets/css/slide-right-panel.css" rel="stylesheet">
    <link href="assets/css/tv.css" rel="stylesheet ">
    <link href="assets/css/responsive.css" rel="stylesheet ">
</head> -->

<body>



    <div class="tv-layout">

        <div class="container-fluid">

            <div class="row">
                <div class="span12">

                    <div class="nav-row">

                        <div class="nav-left">
                            <div class="nav">
                                <ul>
                                    <li><a href="/index" class="active">Home</a></li>
                                    <li><a href="#">Movies</a></li>
                                    <li><a href="/tv-home">TV</a></li>
                                    <li><a href="#">Kids</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="nav-right">
                            <ul>
                                <li><a href="#0" class="js-cd-panel-trigger" data-panel="main">Login / Register</a></li>
                            </ul>
                        </div>



                    </div>


                    <div class="tv-data-row">
                        <h1>Genre</h1>

                        <div class="col-12">
                            <div class="row mob-margin category-block">

                                <div class="col-md-3 col-sm-6 col-xs-6 category-pan">
                                    <a href="krishna.html">
                                        <div class="categories-box">
                                            <span class="category-head">Drama</span>
                                            <img src="assets/images/categories/drama.jpg" alt="Drama" title="Drama">
                                        </div>
                                    </a>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-6 category-pan">
                                    <a href="krishna.html">
                                        <div class="categories-box">
                                            <span class="category-head">Action</span>
                                            <img src="assets/images/categories/action.jpg" alt="Action" title="Action">
                                        </div>
                                    </a>
                                </div>


                                <div class="col-md-3 col-sm-6 col-xs-6 category-pan">
                                    <a href="krishna.html">
                                        <div class="categories-box">
                                            <span class="category-head">Horror</span>
                                            <img src="assets/images/categories/horror.jpg" alt="Horror" title="Horror">
                                        </div>
                                    </a>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-6 category-pan">
                                    <a href="krishna.html">
                                        <div class="categories-box">
                                            <span class="category-head">Thriller</span>
                                            <img src="assets/images/categories/thriller.jpg" alt="Thriller"
                                                title="Thriller">
                                        </div>
                                    </a>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-6 category-pan">
                                    <a href="krishna.html">
                                        <div class="categories-box">
                                            <span class="category-head">Adventures</span>
                                            <img src="assets/images/categories/adventures.jpg" alt="Adventures"
                                                title="Adventures">
                                        </div>
                                    </a>
                                </div>


                                <div class="col-md-3 col-sm-6 col-xs-6 category-pan">
                                    <a href="krishna.html">
                                        <div class="categories-box">
                                            <span class="category-head">Comedy</span>
                                            <img src="assets/images/categories/comedy.jpg" alt="Comedy" title="Comedy">
                                        </div>
                                    </a>
                                </div>


                                <div class="col-md-3 col-sm-6 col-xs-6 category-pan">
                                    <a href="krishna.html">
                                        <div class="categories-box">
                                            <span class="category-head">Family</span>
                                            <img src="assets/images/categories/family.jpg" alt="Family" title="Family">
                                        </div>
                                    </a>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-6 category-pan">
                                    <a href="krishna.html">
                                        <div class="categories-box">
                                            <span class="category-head">Science Fiction</span>
                                            <img src="assets/images/categories/science_fiction.jpg"
                                                alt="Science Fiction" title="Science Fiction">
                                        </div>
                                    </a>
                                </div>



                            </div>
                        </div>



                    </div>




                </div>
            </div>
        </div>





        <div class="cd-panel cd-panel--from-right js-cd-panel-main">
            <div class="cd-panel__container">
                <a href="#0" class="cd-panel__close js-cd-close">X</a>
                <div class="cd-panel__content">
                    <div class="tv-slide-nav">
                        <ul>

                            <li>
                                <a href="login.html">
                                    <img src="assets/images/icons/login-icon.png"> Login</a>
                            </li>

                            <li>
                                <a href="register.html">
                                    <img src="assets/images/icons/register-icon.png"> Registration</a>
                            </li>

                            <li>
                                <a href="subscription.html">
                                    <img src="assets/images/icons/subscrption-icon.png"> Subscription</a>
                            </li>

                            <li>
                                <a href="search.html">
                                    <img src="assets/images/icons/search-icon.png"> Search</a>
                            </li>


                            <li>
                                <a href="categories.html">
                                    <img src="assets/images/icons/categories-icon.png"> Genre</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>




    </div>



    <!-- <script src="assets/js/jquery-1.9.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/tv.js"></script>
    <script src="assets/js/right-slide-panel.js"></script> -->



</body>

<!-- </html> -->