<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/owl.theme.css" rel="stylesheet ">
    <link href="assets/css/tv.css" rel="stylesheet ">
    <link href="assets/css/responsive.css" rel="stylesheet ">
</head> -->

<body>



    <div class="tv-layout">

        <div class="container-fluid">

            <div class="row">
                <div class="span12">

                    <div class="nav-row">
                        <a href="index.html">
                            <div class="round-box back-arrow">
                                <img src="assets/images/icons/arrow-back.png">
                            </div>
                        </a>

                        <a href="index.html">
                            <div class="round-box close-icon">
                                <img src="assets/images/icons/close-icon.png">
                            </div>
                        </a>

                    </div>


                    <div class="login-box">
                        <div class="main">

                            <div class="mid_box_left">
                                <h1>Sign In</h1>
                                <p>Sign in throught following methods</p>
                                <p><a href="index.html"><span class="btn socail_btn">Sign in with Gmail</span></a></p>
                                <p><a href="index.html"><span class="btn socail_btn">Sign in with Facebook</span></a>
                                </p>
                                <p><a href="index.html"><span class="btn socail_btn">Sign in with Twitter</span></a></p>
                                <p>Don't have an account? <span><a href="register.html">Register here</a></span></p>

                            </div>


                        </div>
                    </div>




                </div>
            </div>
        </div>





    </div>



    <!-- <script src="assets/js/jquery-1.9.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/tv.js"></script> -->




</body>

<!-- </html> -->