<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/owl.theme.css" rel="stylesheet ">
    <link href="assets/css/slide-right-panel.css" rel="stylesheet">
    <link href="assets/css/tv.css" rel="stylesheet ">
    <link href="assets/css/responsive.css" rel="stylesheet ">
</head> -->

<body>



    <div class="tv-layout">

        <div class="container-fluid">

            <div class="row">
                <div class="span12">

                    <div class="nav-row">
                        <div class="nav-left">
                            <div class="nav">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="#">Movies</a></li>
                                    <li><a routerLink="/tv-home" class="active">TV</a></li>
                                    <li><a href="#">Kids</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="nav-right">
                            <ul>
                                <li><a style="cursor: pointer;" class="js-cd-panel-trigger" data-panel="main" (click) = "openSidePanel()">Login / Register</a></li>
                            </ul>
                        </div>
                    </div>

                    <div id="owl-demo-carosel" class="owl-carousel">
                        <div class="item">
                            <a href="/tvshow-view">
                                <div class="shadow-bg"></div>
                                <img src="assets/images/Tv-Shows/Banners/tv-show.jpg">
                            </a>
                        </div>

                        <div class="item">
                            <div class="shadow-bg"></div>
                            <img src="assets/images/Tv-Shows/Banners/tv-show.jpg">
                        </div>

                        <div class="item">
                            <div class="shadow-bg"></div>
                            <img src="assets/images/Tv-Shows/Banners/tv-show.jpg">
                        </div>

                        <div class="item">
                            <div class="shadow-bg"></div>
                            <img src="assets/images/Tv-Shows/Banners/tv-show.jpg">
                        </div>

                        <div class="item">
                            <div class="shadow-bg"></div>
                            <img src="assets/images/Tv-Shows/Banners/tv-show.jpg">
                        </div>

                    </div>



                </div>
            </div>
        </div>


        <div class="container-fluid space-tv">
            <h1 class="heading-tv">Continue to Watching</h1>
            <div id="owl-demo-full-1" class="owl-carousel scroll-movies">

                <div class="item">
                    <a href="tvshow-view.html"><img src="assets/images/Tv-Shows/Thumbnails/tv-sm-1.png"></a>
                    <p class="movie-name"><a href="tvshow-view.html">New World order</a></p>
                    <p class="episode tv-showgap-1">Season 10 - 100 Episodes</p>
                </div>

                <div class="item">
                    <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-2.png">
                    <p class="movie-name">THe Star - Spandled Man</p>
                    <p class="episode tv-showgap-1">Season 5 - 10 Episodes</p>
                </div>

                <div class="item">
                    <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-3.png">
                    <p class="movie-name">Power Broker</p>
                    <p class="episode tv-showgap-1">Season 15 - 25 Episodes</p>
                </div>


                <div class="item">
                    <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-4.png">
                    <p class="movie-name">The Whole world is watching</p>
                    <p class="episode tv-showgap-1">Season 1 - 30 Episodes</p>
                </div>


                <div class="item">
                    <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-5.png">
                    <p class="movie-name">Truth</p>
                    <p class="episode tv-showgap-1">Season 25 - 30 Episodes</p>
                </div>

                <div class="item">
                    <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-1.png">
                    <p class="movie-name">New World order</p>
                    <p class="episode tv-showgap-1">Season 10 - 100 Episodes</p>
                </div>

                <div class="item">
                    <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-2.png">
                    <p class="movie-name">THe Star - Spandled Man</p>
                    <p class="episode tv-showgap-1">Season 5 - 10 Episodes</p>
                </div>

                <div class="item">
                    <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-3.png">
                    <p class="movie-name">Power Broker</p>
                    <p class="episode tv-showgap-1">Season 15 - 25 Episodes</p>
                </div>


                <div class="item">
                    <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-4.png">
                    <p class="movie-name">The Whole world is watching</p>
                    <p class="tv-showgap-1">Season 1 - 30 Episodes</p>
                </div>


                <div class="item">
                    <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-5.png">
                    <p class="movie-name">Truth</p>
                    <p class="tv-showgap-1">Season 25 - 30 Episodes</p>
                </div>


            </div>


        </div>

        <div class="container-fluid space-tv">
            <h1 class="heading-tv">Comedy Shows</h1>
            <div id="owl-demo-full-2" class="owl-carousel scroll-movies">

                <div class="item">
                    <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-6.png">
                    <p class="movie-name">Jabardast</p>
                    <p class="episode tv-showgap-1">Season 10 - 100 Episodes</p>
                </div>

                <div class="item">
                    <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-7.png">
                    <p class="movie-name">Extra Jabardast</p>
                    <p class="episode tv-showgap-1">Season 5 - 10 Episodes</p>
                </div>

                <div class="item">
                    <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-8.png">
                    <p class="movie-name">Dee - Dance Show</p>
                    <p class="episode tv-showgap-1">Season 15 - 25 Episodes</p>
                </div>

                <div class="item">
                    <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-9.png">
                    <p class="movie-name">Padutha Teeyaga</p>
                    <p class="episode tv-showgap-1">Season 1 - 30 Episodes</p>
                </div>

                <div class="item">
                    <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-10.png">
                    <p class="movie-name">Sridevi Darama Company</p>
                    <p class="episode tv-showgap-1">Season 25 - 30 Episodes</p>
                </div>

                <div class="item">
                    <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-6.png">
                    <p class="movie-name">Jabardast</p>
                    <p class="episode tv-showgap-1">Season 10 - 100 Episodes</p>
                </div>

                <div class="item">
                    <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-7.png">
                    <p class="movie-name">Extra Jabardast</p>
                    <p class="episode tv-showgap-1">Season 5 - 10 Episodes</p>
                </div>

                <div class="item">
                    <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-8.png">
                    <p class="movie-name">Dee - Dance Show</p>
                    <p class="episode tv-showgap-1">Season 15 - 25 Episodes</p>
                </div>

                <div class="item">
                    <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-9.png">
                    <p class="movie-name">Padutha Teeyaga</p>
                    <p class="episode tv-showgap-1">Season 1 - 30 Episodes</p>
                </div>

                <div class="item">
                    <img src="assets/images/Tv-Shows/Thumbnails/tv-sm-10.png">
                    <p class="movie-name">Sridevi Darama Company</p>
                    <p class="episode tv-showgap-1">Season 25 - 30 Episodes</p>
                </div>


            </div>
        </div>



        <div class="cd-panel cd-panel--from-right js-cd-panel-main">
            <div class="cd-panel__container">
                <a href="#0" class="cd-panel__close js-cd-close">X</a>
                <div class="cd-panel__content">
                    <div class="tv-slide-nav">
                        <ul>

                            <li>
                                <a href="/login">
                                    <img src="assets/images/icons/login-icon.png"> Login</a>
                            </li>

                            <li>
                                <a href="/register">
                                    <img src="assets/images/icons/register-icon.png"> Registration</a>
                            </li>

                            <li>
                                <a href="/subscription">
                                    <img src="assets/images/icons/subscrption-icon.png"> Subscription</a>
                            </li>

                            <li>
                                <a href="/search">
                                    <img src="assets/images/icons/search-icon.png"> Search</a>
                            </li>


                            <li>
                                <a href="/categories">
                                    <img src="assets/images/icons/categories-icon.png"> Genre</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>




    </div>



    <!-- <script src="assets/js/jquery-1.9.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/tv.js"></script>
    <script src="assets/js/right-slide-panel.js"></script> -->


</body>

<!-- </html> -->