<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/owl.theme.css" rel="stylesheet ">
    <link href="assets/css/slide-right-panel.css" rel="stylesheet">
    <link href="assets/css/tv.css" rel="stylesheet ">
    <link href="assets/css/responsive.css" rel="stylesheet ">
</head> -->

<body>



    <div class="tv-layout">

        <div class="container-fluid">

            <div class="row">
                <div class="span12">


                    <div class="nav-row">
                        <a href="index.html">
                            <div class="round-box back-arrow">
                                <img src="assets/images/icons/arrow-back.png">
                            </div>
                        </a>

                        <a href="index.html">
                            <div class="round-box close-icon">
                                <img src="assets/images/icons/close-icon.png">
                            </div>
                        </a>

                    </div>


                    <div class="tv-data-row">


                        <div class="col-12">

                            <div class="seach-box">
                                <div class="input-group">
                                    <span class="input-search">
                                        <img src="assets/images/icons/search-icon.png">
                                    </span>
                                    <input type="text" class="form-control" placeholder="Search" aria-label="Username"
                                        aria-describedby="basic-addon1">
                                </div>
                            </div>



                            <div class="search-block-iteams">
                                <div class="recent-search">
                                    <h1>Recent Search Iteams</h1>

                                    <div class="seach-item">
                                        <span>
                                            <img src="assets/images/icons/reload-icon.png">
                                            Jathi Ratnalu Movie
                                        </span>
                                    </div>

                                    <div class="seach-item">
                                        <span>
                                            <img src="assets/images/icons/reload-icon.png">
                                            Kids English Telugu Dubbed Movies
                                        </span>
                                    </div>

                                    <div class="seach-item">
                                        <span>
                                            <img src="assets/images/icons/reload-icon.png">
                                            3D Animation Movies
                                        </span>
                                    </div>

                                    <div class="seach-item">
                                        <span>
                                            <img src="assets/images/icons/reload-icon.png">
                                            Action Movies in Telugu 2020
                                        </span>
                                    </div>
                                </div>

                                <div class="key-board-box" id="show-numbers" style="display:none;">
                                    <div class="key-board-row">
                                        <span class="key"><button>1</button></span>
                                        <span class="key"><button>2</button></span>
                                        <span class="key"><button>3</button></span>
                                        <span class="key"><button> & </button></span>
                                        <span class="key"><button> # </button></span>
                                        <span class="key"><button> ( </button></span>
                                        <span class="key"><button> ) </button></span>
                                        <span class="arrow-change"><button>
                                                <img src="assets/images/icons/clear-icon.png">
                                            </button></span>
                                    </div>

                                    <div class="key-board-row">
                                        <span class="key"><button>4</button></span>
                                        <span class="key"><button>5</button></span>
                                        <span class="key"><button>6</button></span>
                                        <span class="key"><button> @ </button></span>
                                        <span class="key"><button> ! </button></span>
                                        <span class="key"><button> ? </button></span>
                                        <span class="key"><button> : </button></span>
                                        <span class="arrow-change show-alpabets"><button>& ABC</button></span>
                                    </div>

                                    <div class="key-board-row">
                                        <span class="key"><button>7</button></span>
                                        <span class="key"><button>8</button></span>
                                        <span class="key"><button>9</button></span>
                                        <span class="key"><button>0</button></span>
                                        <span class="key"><button> . </button></span>
                                        <span class="key"><button> _ </button></span>
                                        <span class="key"><button> " </button></span>
                                    </div>


                                    <div class="key-board-row">
                                        <span class="space-clear"><button>SPACE</button></span>
                                        <span class="space-clear"><button>CLEAR</button></span>
                                        <span class="search-btn"><a
                                                href="search-results.html"><button>SEARCH</button></a></span>
                                    </div>

                                </div>


                                <div class="key-board-box" id="show-alpabets">
                                    <div class="key-board-row">
                                        <span class="key"><button>A</button></span>
                                        <span class="key"><button>B</button></span>
                                        <span class="key"><button>C</button></span>
                                        <span class="key"><button>D</button></span>
                                        <span class="key"><button>E</button></span>
                                        <span class="key"><button>F</button></span>
                                        <span class="key"><button>G</button></span>
                                        <span class="arrow-change"><button>
                                                <img src="assets/images/icons/clear-icon.png">
                                            </button></span>
                                    </div>

                                    <div class="key-board-row">
                                        <span class="key"><button>H</button></span>
                                        <span class="key"><button>I</button></span>
                                        <span class="key"><button>J</button></span>
                                        <span class="key"><button>K</button></span>
                                        <span class="key"><button>L</button></span>
                                        <span class="key"><button>M</button></span>
                                        <span class="key"><button>N</button></span>
                                        <span class="arrow-change show-numbers"><button> 123</button></span>
                                    </div>

                                    <div class="key-board-row">
                                        <span class="key"><button>O</button></span>
                                        <span class="key"><button>P</button></span>
                                        <span class="key"><button>Q</button></span>
                                        <span class="key"><button>R</button></span>
                                        <span class="key"><button>S</button></span>
                                        <span class="key"><button>T</button></span>
                                        <span class="key"><button>U</button></span>
                                    </div>

                                    <div class="key-board-row">
                                        <span class="key"><button>V</button></span>
                                        <span class="key"><button>W</button></span>
                                        <span class="key"><button>X</button></span>
                                        <span class="key"><button>Y</button></span>
                                        <span class="key"><button>Z</button></span>
                                        <span class="key"><button>-</button></span>
                                        <span class="key"><button>'</button></span>
                                    </div>

                                    <div class="key-board-row">
                                        <span class="space-clear"><button>SPACE</button></span>
                                        <span class="space-clear"><button>CLEAR</button></span>
                                        <span class="search-btn"><a
                                                href="search-results.html"><button>SEARCH</button></a></span>
                                    </div>

                                </div>


                            </div>


                        </div>



                    </div>




                </div>
            </div>
        </div>








    </div>



    <!-- <script src="assets/js/jquery-1.9.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/tv.js"></script>
    <script src="assets/js/right-slide-panel.js"></script> -->


    <script>
        $(document).ready(function () {
            $(".show-alpabets").click(function () {
                $("#show-numbers").hide();
                $("#show-alpabets").show();
            });
            $(".show-numbers").click(function () {
                $("#show-alpabets").hide();
                $("#show-numbers").show();
            });
        });
    </script>



</body>

<!-- </html> -->