<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/owl.theme.css" rel="stylesheet ">
    <link href="assets/css/tv.css" rel="stylesheet ">
    <link href="assets/css/responsive.css" rel="stylesheet ">
</head> -->

<body>



    <div class="tv-layout">

        <div class="container-fluid">

            <div class="row">
                <div class="span12">

                    <div class="nav-row">
                        <a href="register.html">
                            <div class="round-box back-arrow">
                                <img src="assets/images/icons/arrow-back.png">
                            </div>
                        </a>

                        <a href="index.html">
                            <div class="round-box close-icon">
                                <img src="assets/images/icons/close-icon.png">
                            </div>
                        </a>

                    </div>


                    <div class="login-box">
                        <div class="main">

                            <div class="mid_box_left">
                                <h1>Mobile Number Verify</h1>
                                <p>Please enter your mobile number and get verification code.

                                </p>

                                <div class="col-lg-12 mob-pad">
                                    <div class="input-group">
                                        <input type="text" class="form-control field-mobile"
                                            placeholder="Enter your mobile number...">
                                        <span class="input-group-btn send-mobile">
                                            <button class="btn btn-default send-mobile" type="button">Send Code</button>
                                        </span>
                                    </div><!-- /input-group -->
                                </div>

                                <div class="col-lg-12 verify_box mob-pad">
                                    <p>Please Verify your Mobile Number</p>
                                    <div class="otp_box">
                                        <div class="otp_field"><input type="number"></div>
                                        <div class="otp_field"><input type="number"></div>
                                        <div class="otp_field"><input type="number"></div>
                                        <div class="otp_field"><input type="number"></div>
                                        <div class="otp_field"><input type="number"></div>
                                        <div class="otp_field"><input type="number"></div>
                                    </div>

                                    <p><a href="index.html"><span class="btn verify_btn">Verify</span></a></p>
                                </div>




                            </div>


                        </div>
                    </div>




                </div>
            </div>
        </div>





    </div>



    <!-- <script src="assets/js/jquery-1.9.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/tv.js"></script> -->




</body>

<!-- </html> -->